<!DOCTYPE HTML>
<html>
<head>
    <title>VIN Generator: Generate unic VIN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container mt-5">
    <form method="post">
        <div class="row">
            <div class="input-group">
                <select class="custom-select" name="location" id="inputGroupSelect04">
                    <option selected value="">Choose location</option>
                    <option class="text-primary font-weight-bold" value="">Random location</option>
                    <option class="text-secondary" value="Japan">Japan</option>
                    <option class="text-secondary" value="Korea">Korea</option>
                    <option class="text-secondary" value="Korea (South)">Korea (South)</option>
                    <option class="text-secondary" value="Turkey">Turkey</option>
                    <option class="text-secondary" value="United Kingdom">United Kingdom</option>
                    <option class="text-secondary" value="Czech Republic">Czech Republic</option>
                    <option class="text-secondary" value="Hungary">Hungary</option>
                    <option class="text-secondary" value="West Germany">West Germany</option>
                    <option class="text-secondary" value="Sweden">Sweden</option>
                    <option class="text-secondary" value="United States">United States</option>
                    <option class="text-secondary" value="Canada">Canada</option>
                    <option class="text-secondary" value="Mexico">Mexico</option>
                    <option class="text-secondary" value="Australia">Australia</option>
                    <option class="text-secondary" value="Brazil">Brazil</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary bg-primary text-white" type="submit">GENERATE VIN</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col text-center mt-3">
            <h5>
                Here is your VIN code: {{#code}}{{.}}{{/code}} {{#location}}{{.}}{{/location}}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {{#message}}
                <div class="alert alert-warning" role="alert">
                    {{.}}
                </div>
            {{/message}}
        </div>
    </div>
    <div class="row">
        <div class="container bg-light border border-info rounded mt-5">
            <p class="text-center text-info mt-2">History of generated VIN codes:</p>
            <table class="table table-striped table-hover text-center">
                <thead>
                <tr>
                    <th class="w-50" scope="col">VIN</th>
                    <th class="w-50" scope="col">Country</th>
                </tr>
                </thead>
                <tbody>
                {{#codes}}
                    <tr>
                        <td>{{VINcode}}</td>
                        <td>{{location}}</td>
                    </tr>
                {{/codes}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>